[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "2.4"
opencv-python = "4.13.0.92"
pyusb = "1.3"
fastapi = "0.136"
"uvicorn[standard]" = "0.49"
websockets = "16.0"

[dev-packages]
coverage = "7.14.1"
pytest = "9.0.3"

[requires]
python_version = "3.14"
python_full_version = "3.14.5"
